@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Mooli&display=swap");

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html {
            scroll-behavior: smooth;
        }

        h1,
        h2,
        h3 {
            font-family: "Comfortaa", cursive;
        }

        body {
            min-height: 100dvh;
            overflow-x: hidden;
            background: white;
            font-family: "Mooli", sans-serif;
        }

        header {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding: 30px 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 100;
        }

        .logo {
            color: rgb(17, 36, 52);
            font-weight: 700;
            font-size: clamp(1.1rem, 6vw, 1.7rem);
            text-decoration: none;
            margin-top: 35px;
        }

        .navigation {
            display:inline-flex;
            justify-content: center;
            align-items: center;
        }

        .navigation li {
            list-style: none;
            margin-left: 55px;
            margin-top: 85px;
        }

        .navigation li a {
            text-decoration: none;
            padding: 6px 15px;
            color: rgb(17, 36, 52);
            border-radius: 20px;
            font-size: 25px;
        }

        .navigation li a:hover,
        .navigation li a.active {
            background: black;
            color: white;
        }
        .parallax {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100vh;
            
        }

        .parallax img {
            position: absolute;
            left: 0;
            width: 100%;
            pointer-events: none;
        }

        #title {
            position:static;
            top: 13%;
            font-size: clamp(2rem, 6vw, 5rem);
            color: black;
            z-index: 50;
        }
        #title_h3 {
            background-color: rgba(255, 255, 255, 0.196);
            border-radius: 15px;
            border: 2px dashed;
            padding: 15px;
            position: absolute;
            top: 73%;
            margin-left: 7%;
            margin-right: 5%;
            font-size: 1.7em;
            color: black;
            z-index: 50;
        }
        #title_h3 :hover{
            transform: translateY(-5px) ;
        }
        .blog {
            position: relative;
            padding: 120px 150px 20px;
            background-image: url("bg11.jpg");
            background-size: cover;
            width: 100%;
        }

        .blog::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 50px;
            background: rgb(246, 240, 231);
            background: radial-gradient(circle,
                    rgba(246, 240, 231, 1) 54%,
                    rgba(0, 114, 125, 1) 99%);
            z-index: 999;
        }

        .blog h2 {
            font-size: clamp(2rem, 6vw, 3rem);
            color: black;
            margin: 60px 0 40px;
            text-align: center;
        }
        .blog h3{
            text-decoration: underline;
            padding-top:2vh;
            padding-left: 35%;
            font-size: 2em;           
        }
        .blog p {
            font-size: clamp(1rem, 6vw, 1.3rem);
            color: black;
            font-weight: 400;
            margin-bottom: 30px;
            text-align: center;
            line-height: 1.5;
        }

        .cards {
            display: grid;
            flex-direction: column;
            align-items: center;
            justify-items: center;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 40px;
            padding: 60px 60px;
            background: white;
        }

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: min(100%, 450px);
            background-color: white;
            box-shadow: 0 6px 30px rgba(0, 0, 0, 0.3);
            border-radius: 20px;
            padding: 15px 20px;
        }

        .card img {
            width: 100%;
            height: 35vh;
            border-radius: 20px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        .card h3 {
            font-size: 1.2rem;
            font-weight: 700;
            margin-top: 20px;
            text-align: start;
            color: black;
        }
        .card h4 {
            text-decoration: underline;
            font-size: 1.5rem;
            font-weight: 700;
            margin-top: 20px;
            margin-bottom: 2vh;
            text-align: start;
            color: black;
        }

        .card p {
            font-size: 1rem;
            text-align: justify;
            line-height: 1.2;
            color: black;
            font-weight: 700px;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: linear-gradient(to bottom,
                    rgba(206, 245, 223, 0.9),
                    rgba(164, 209, 198, 0.9),
                    rgba(128, 173, 172, 0.9),
                    rgba(72, 161, 170, 0.9));
            border-radius: 20px;
            list-style: none;
            z-index: 1;
            opacity: 0;
            padding: 20px 40px;
            transition: all 0.4s ease-in-out;
        }

        .overlay:hover {
            opacity: 1;
            cursor: default;
        }

.nav {
  position: relative;
  text-align: center; 
  color: white;
  font-size: 20px;
  margin: 20px 0;
}


.wrapper {
  position: relative;
  overflow: hidden;
  width: 70%;
  top: 100px;  
  left: 50%;
  position: absolute;
}
.viewport {
  position: absolute;
  pointer-events: none;  
  width: 90%;
  width: calc(70% + 8px);
  top: 100px;
  left: 50%;
  border: 2px solid white;
}

.num {
  position: absolute;
  color: #555; 
  color: white; 
  font-size: 18px;
  line-height: 1;
  top: 14px;
  left: 8px;  
  text-shadow: 
    1px  1px 0px #555, 
    -1px -1px 0px #555, 
    1px -1px 0px #555, 
    -1px  1px 0px #555;
}

.box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxes {
  position: relative;
}

#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8vh;
    background-color:rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    text-align: center;
}
#bottom_div{
    background-color: rgb(0, 0, 0);
    width: 90%;
    height: 6vh;
    border-radius: 5px;
}
#bottom_div p {
    color: rgb(255, 255, 255) ;
    margin-top: 1vh;
}
